{% extends 'adminpages/adminbase.html' %}
{% block title %}Add category{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>All Category</h3><hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                {{form.as_p}}
                <input class="btn btn-info" type="submit" value="save">
            </form>

        </div>
    </div>
</div>

{% endblock %}