{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}


{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <h3>Datial Information</h3><hr>
            <p><span class="font-weidth-bold">Name: </span> {{customer.full_name}}</p>
            <p><span class="font-weidth-bold">Username: </span> {{customer.user.username}}</p>
            <p><span class="font-weidth-bold">Email: </span> {{customer.user.email}}</p>
            <p><span class="font-weidth-bold">Address: </span> {{customer.address}}</p>
            <p><span class="font-weidth-bold">Joined on: </span> {{customer.joined_on}}</p>
            <p><span class="font-weidth-bold">Name: </span> {{customer.full_name}}</p>
        </div>
        <div class="col-md-7">
            <h3>Previous Order</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID</th>
                        <th>Amount</th>
                        <th>Ordered on</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for ord in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'yakstore:customerorderdetail' ord.pk %}">#ORDER_{{ord.id}}</a></td>
                    <td>{{ord.total}}</td>
                    <td>{{ord.created_at|timesince}} ago</td>
                    <td>{{ord.order_status}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}